{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query" : {
      "expression" : "blogID = :blogID",
      "expressionValues" : {
        ":blogID" : $util.dynamodb.toDynamoDBJson($context.arguments.input.id)
    }
  },
  "index": "byBlog"
}